.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game .container h3,
.game .container p {
  margin: 0;
}

.game h1 {
  color: #3c518e;
}

.game .container {
  text-align: center;
}

.game svg {
  height: 4em;
  color: #3c518e;
}

.game .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 1em;
}

.game input {
  width: 100%;
  height: 2em;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.game button {
  background-color: #95b259;
}

.game button:hover {
  background-color: #80a258;
  transition: 300ms;
}

.game button:active {
  background-color: #718c49;
}

.game .false,
.game .success {
  border: 2px solid;
  border-radius: 4px;
  padding: 1em;
}

.game .false {
  border-color: red;
  color: red;
}
.game .success {
  border-color: green;
  color: green;
}

.game .correct {
  color: green;
  font-size: 2em;
  font-weight: bold;
}
