.teams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8.5em;
}

.teams .teams-container{
    width: 100%;
    padding-left: 10vw;
}

.teams h1 {
    color: #3c518e;
}

.teams h2:after {
    content: '';
    border: 1px solid;
    display: block;
    width: 140px;
}
